@page "/"

<PageTitle>Index</PageTitle>

<div class="overflow-hidden space-background d-flex justify-space-around" @onmousemove="@GetMousePosition">
    <div class="portal-section position-relative">
        <img style="@($"top: {ToStringDot(portalY)}em; left: {ToStringDot(portalX)}em; height: {portalHeight}px")" class="position-absolute portal" src="images/green-portal.gif" alt="green portal animation"/>
        <img style="@($"left: {ToStringDot(objectsXOffset[0])}em; top: {ToStringDot(objectsYOffset[0])}em; ")" class="position-absolute rick" src="images/portal-gun-rick.svg" alt="drunk rick"/>
        <img style="@($"left: {ToStringDot(objectsXOffset[1])}em; top: {ToStringDot(objectsYOffset[1])}em; ")" class="position-absolute morty" src="images/main-page-morty.svg" alt="scared morty"/>
        <img style="@($"left: {ToStringDot(objectsXOffset[2])}em; top: {ToStringDot(objectsYOffset[2])}em; ")" class="position-absolute helmet" src="images/intelligence-helmet.svg" alt="intelligence helmet"/>
        <img style="@($"left: {ToStringDot(objectsXOffset[3])}em; top: {ToStringDot(objectsYOffset[3])}em; ")" class="position-absolute plumbus" src="images/plumbus.svg" alt="plumbus"/>
        <img style="@($"left: {ToStringDot(objectsXOffset[4])}em; top: {ToStringDot(objectsYOffset[4])}em; ")" class="position-absolute box" src="images/mr-meeseeks-box.svg" alt="mr.meeseeks box"/>
    </div>
    <div class="title position-relative d-flex flex-column justify-center align-items-center">
        <img src="images/ufo.svg" alt="ufo" class="position-absolute ufo"/>
        <img src="images/rick-and-morty-logo.png" alt="rick and morty logo" class="logo"/>
        <PortalGunButton Text="C-137" Destination="multiverse"/>
    </div>
    @for(int i = 0, j = 1; i < starsX.Length; i++, j = ((j % 3) + 1))
    {
        <div style="@($"left:{starsX[i].ToString()}px; animation-delay: {starsDelay[i].ToString()}s;")" class="@($"star star{j}")"></div>
    }
</div>

@code
{
    private double mouseX, mouseY;
    private int portalHeight;
    private float[] objectsXOffset, objectsYOffset, 
    objectsXPosition, objectsYPosition;
    private int[] starsX, starsDelay;
    private float portalX, portalY;

    public Index()
    {
        objectsXOffset = new float[] {
            -5, 20, 10, 16, 20
        };
        objectsYOffset = new float[] {
            7, 17, 12, 17, 10
        };
        objectsXPosition = new float[]
        {
            -5, 20, 10, 16, 20
        };
        objectsYPosition = new float[]
        {
            7, 17, 12, 17, 10
        };
        starsX = new int[100];
        starsDelay = new int[100];
        portalHeight = 500;
        var random = new Random();
        for(var i = 0; i < starsX.Length; i++)
        {
            starsX[i] = random.Next(-100, 1800);
            starsDelay[i] = random.Next(0, 10);
        }
        portalX = 10;
        portalY = 10;
        MoveElements();
    }

    private void GetMousePosition(MouseEventArgs e)
    {
        mouseX = e.ClientX;
        mouseY = e.ClientY;
        MoveElements();
    }
    
    private void MoveElements()
    {
        portalX = (float)((mouseX) / 800) - 1;
        portalY = (float)((mouseY) / 800) - 1;
        for(var i = 0; i < objectsXOffset.Length; i++)
        {
            objectsXOffset[i] = (float)(mouseX+350) / 700 + objectsXPosition[i];
            objectsYOffset[i] = (float)(mouseY+350) / 700 + objectsYPosition[i];
        }
        portalX *= -1;
        portalY *= -1;
    }

    private static string ToStringDot(float objectXorY)
    {
        return objectXorY.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture);
    }
}
