@page "/"
@using System.Security.Cryptography.X509Certificates

<PageTitle>Index</PageTitle>

<div class="overflow-hidden space-background main-page d-flex justify-space-around" @onmousemove="@GetMousePosition">
    <div class="portal-section position-relative">
        <img style="@($"top: {ToStringDot(portalY)}em; left: {ToStringDot(portalX)}em")" class="position-absolute portal" src="images/green-portal.gif" alt="green portal animation"/>
        <img style="@($"left: {ToStringDot(objectsXOffset[0])}em; top: {ToStringDot(objectsYOffset[0])}em; ")" class="position-absolute rick" src="images/portal-gun-rick.svg" alt="drunk rick"/>
        <img style="@($"left: {ToStringDot(objectsXOffset[1])}em; top: {ToStringDot(objectsYOffset[1])}em; ")" class="position-absolute morty" src="images/main-page-morty.svg" alt="scared morty"/>
        <img style="@($"left: {ToStringDot(objectsXOffset[2])}em; top: {ToStringDot(objectsYOffset[2])}em; ")" class="position-absolute helmet" src="images/intelligence-helmet.svg" alt="intelligence helmet"/>
        <img style="@($"left: {ToStringDot(objectsXOffset[3])}em; top: {ToStringDot(objectsYOffset[3])}em; ")" class="position-absolute plumbus" src="images/plumbus.svg" alt="plumbus"/>
        <img style="@($"left: {ToStringDot(objectsXOffset[4])}em; top: {ToStringDot(objectsYOffset[4])}em; ")" class="position-absolute box" src="images/mr-meeseeks-box.svg" alt="mr.meeseeks box"/>
    </div>
    <div class="title position-relative d-flex flex-column justify-center align-items-center">
        <img src="images/ufo.svg" alt="ufo" class="position-absolute ufo"/>
        <img src="images/rick-and-morty-logo.gif" alt="rick and morty logo" class="logo"/>
        <PortalGunButton Text="C-137"/>
        <p style="color: white">@mouseX.ToString() @mouseY.ToString()</p>
    </div>
</div>

@code
{
    private double mouseX;
    private double mouseY;
    private float[] objectsXOffset, objectsYOffset, 
    objectsXPosition, objectsYPosition;
    private float portalX, portalY;

    public Index()
    {
        objectsXOffset = new float[] {
            -5, 20, 10, 16, 20
        };
        objectsYOffset = new float[] {
            7, 17, 12, 17, 10
        };
        objectsXPosition = new float[]
        {
            -5, 20, 10, 16, 20
        };
        objectsYPosition = new float[]
        {
            7, 17, 12, 17, 10
        };
        portalX = 10;
        portalY = 10;
    }

    private void GetMousePosition(MouseEventArgs e)
    {
        mouseX = e.ClientX;
        mouseY = e.ClientY;
        MoveElements();
    }
    
    private void MoveElements()
    {
        portalX = (float)((mouseX) / 800) - 1;
        portalY = (float)((mouseY) / 800) - 1;
        for(var i = 0; i < objectsXOffset.Length; i++)
        {
            objectsXOffset[i] = (float)(mouseX+350) / 1000 + objectsXPosition[i];
            objectsYOffset[i] = (float)(mouseY+350) / 1000 + objectsYPosition[i];
        }
        portalX *= -1;
        portalY *= -1;
    }

    private static string ToStringDot(float objectXorY)
    {
        return objectXorY.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture);
    }
}
